<!doctype html>
<html lang="en">
  <!doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <link rel="icon" href="../../../../favicon.ico">

      <title>Blog post details</title>

      <!-- Bootstrap core CSS -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    </head>

    <body>

      <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="{% url 'home' %}">Junnie Lee</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ml-auto">
              <a class="nav-item nav-link" href="https://www.facebook.com/">Facebook</a>
              <a class="nav-item nav-link" href="{% static 'git.pdf' %}">Git 사용법 정리</a>
              <a class="nav-item nav-link active" href="{% url 'allblogs' %}">Blog</a>
            </div>
          </div>
        </nav>
      </header>
      <br />

      <div class="jumbotron p-3 p-md-5 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
          <strong class="d-inline-block mb-2 text-primary">blog post no. #{{ post.id }}</strong>
          <h1 class="display-4 font-italic">{{ post.title }}</h1>
          <p class="lead my-3">- Date: {{ post.pub_date_pretty }} </p>
        </div>
      </div>
              
      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8 blog-main">
            <img class="img-fluid" src="{{ post.image.url }}" />
            <br /><br />
              <p>{{ post.body }}</p>
            <br />           
          </div>  
        </div>  
      </main>

    <hr />  
    <footer class="blog-footer">
      <div class="container text-center">
        <p> Copyright ⓒ {% now "Y" %} Junnie Lee All rights reserved.</p>
      </div>
      <p>
        <div class="container text-center"><a href="{% url 'allblogs' %}">Back to the Blog homepage</a></div>
        <div class="container text-center"><a href="{% url 'home' %}">Go to the Jobs homepage</a></div>
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>